<div class="button demo">
  <div class="ui stackable five column grid">
    <div class="column">
      <p>Disabled</p>
    </div>
    <div class="column">
      <button class="ui basic disabled button">
        Basic
      </button>
    </div>
    <div class="column">
      <button class="ui primary basic disabled button">
        Basic Color
      </button>
    </div>
    <div class="column">
      <button class="ui disabled button">
        Secondary
      </button>
    </div>
    <div class="column">
      <button class="ui primary disabled button">
        Primary
      </button>
    </div>

    <div class="ui hidden divider"></div>
    <div class="column">
      <p>Normal</p>
    </div>
    <div class="column">
      <button class="ui basic button">
        Basic
      </button>
    </div>
    <div class="column">
      <button class="ui primary basic button">
        Basic Color
      </button>
    </div>
    <div class="column">
      <button class="ui button">
        Secondary
      </button>
    </div>
    <div class="column">
      <button class="ui primary button">
        Primary
      </button>
    </div>

    <div class="ui hidden divider"></div>
    <div class="column">
      <p>Normal</p>
    </div>
    <div class="column">
      <button class="ui basic button">
        Basic
      </button>
    </div>
    <div class="column">
      <button class="ui primary basic button">
        Basic Color
      </button>
    </div>
    <div class="column">
      <button class="ui button">
        Secondary
      </button>
    </div>
    <div class="column">
      <button class="ui primary button">
        Primary
      </button>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.button.demo .follow')
    .state({
      text: {
        inactive: 'Follow',
        active: 'Following'
      }
    });
</script>