<div class="button demo">
  <div class="ui stackable seven column grid">
    <div class="column">
      <p>Disabled</p>
    </div>
    <div class="column">
      <button class="ui basic disabled button">
        Basic
      </button>
    </div>
    <div class="column">
      <button class="ui primary basic disabled button">
        Basic Color
      </button>
    </div>
    <div class="column">
      <button class="ui disabled button">
        Secondary
      </button>
    </div>
    <div class="column">
      <button class="ui primary disabled button">
        Primary
      </button>
    </div>
    <div class="column">
      <a href="#" class="ui basic disabled link">
        <i class="setting icon"></i> Basic Link</a>
    </div>
    <div class="column">
      <a href="#" class="ui disabled link">
        <i class="setting icon"></i> Link Color</a>
    </div>

    <div class="column">
      <p>Normal</p>
    </div>
    <div class="column">
      <button class="ui basic button">
        Basic
      </button>
    </div>
    <div class="column">
      <button class="ui primary basic button">
        Basic Color
      </button>
    </div>
    <div class="column">
      <button class="ui button">
        Secondary
      </button>
    </div>
    <div class="column">
      <button class="ui primary button">
        Primary
      </button>
    </div>
    <div class="column">
      <a href="#" class="ui basic link">
        <i class="setting icon"></i> Basic Link</a>
    </div>
    <div class="column">
      <a href="#" class="ui link">
        <i class="setting icon"></i> Link Color</a>
    </div>

    <div class="column">
      <p>Hover</p>
    </div>
    <div class="column">
      <button class="ui basic button hover">
        Basic
      </button>
    </div>
    <div class="column">
      <button class="ui primary basic button hover">
        Basic Color
      </button>
    </div>
    <div class="column">
      <button class="ui button hover">
        Secondary
      </button>
    </div>
    <div class="column">
      <button class="ui primary button hover">
        Primary
      </button>
    </div>
    <div class="column">
      <a href="#" class="ui basic hover link">
        <i class="setting icon"></i> Basic Link</a>
    </div>
    <div class="column">
      <a href="#" class="ui hover link">
        <i class="setting icon"></i> Link Color</a>
    </div>

    <div class="column">
      <p>Active</p>
    </div>
    <div class="column">
      <button class="ui basic button active">
        Basic
      </button>
    </div>
    <div class="column">
      <button class="ui primary basic button active">
        Basic Color
      </button>
    </div>
    <div class="column">
      <button class="ui button active">
        Secondary
      </button>
    </div>
    <div class="column">
      <button class="ui primary button active">
        Primary
      </button>
    </div>
    <div class="column">
      <a href="#" class="ui basic active link">
        <i class="setting icon"></i> Basic Link</a>
    </div>
    <div class="column">
      <a href="#" class="ui active link">
        <i class="setting icon"></i> Link Color</a>
    </div>
  </div>
  <div class="ui stackable seven column grid">
    <p>Colored</p>
    <div class="column">
      <button class="ui red button">Red</button>
    </div>
    <div class="column">
      <button class="ui orange button">Orange</button>
    </div>
    <div class="column">
      <button class="ui yellow button">Yellow</button>
    </div>
    <div class="column">
      <button class="ui olive button">Olive</button>
    </div>
    <div class="column">
      <button class="ui green button">Green</button>
    </div>
    <div class="column">
      <button class="ui teal button">Teal</button>
    </div>
    <div class="column">
      <button class="ui blue button">Blue</button>
    </div>
    <div class="column">
      <button class="ui violet button">Violet</button>
    </div>
    <div class="column">
      <button class="ui purple button">Purple</button>
    </div>
    <div class="column">
      <button class="ui pink button">Pink</button>
    </div>
    <div class="column">
      <button class="ui brown button">Brown</button>
    </div>
    <div class="column">
      <button class="ui grey button">Grey</button>
    </div>
    <div class="column">
      <button class="ui black button">Black</button>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.button.demo .follow')
    .state({
      text: {
        inactive: 'Follow',
        active: 'Following'
      }
    });
</script>