<div class="ui stackable three column grid">
  <div class="ui center aligned column">
    <div class="ui button">A</div>
    <div class="ui horizontal divider">OR</div>
    <div class="teal ui button">B</div>
  </div>

  <div class="ui column center aligned">
    <div class="ui grid">
      <div class="five wide column">
        <div class="ui button">A</div>
      </div>
      <div class="six wide column divider-column">
        <div class="ui vertical divider">OR</div>
      </div>
      <div class="five wide column">
        <div class="teal ui button">B</div>
      </div>
    </div>
  </div>

  <div class="ui center aligned column">
    <div class="ui button">A</div>
    <div class="ui horizontal divider">OR</div>
    <div class="teal ui button">B</div>
  </div>
</div>