<div class="ui basic menu">
    <div class="page-title">
        <div class="icon">
            <img class="ui image" src="/images/logos/burtNormal.png">
        </div>
        <div class="item-name">
            <span class="title">HUB</span>
        </div>
    </div>
    <div class="right menu">
        <i class="bell icon"></i>
        <img class="ui avatar image" src="/images/wireframe/square-image.png">
    </div>
</div>

<div class="hub">
    <div class="ui divider hidden"></div>
    <div class="ui divider hidden"></div>
    <div class="ui middle aligned center aligned grid">
        <div class="three wide aligned center column">
            <a href="#">
                <img class="ui image" src="/images/icons/proposalsNormal.png" alt="Proposal">
                <h3 class="title">Proposals</h3>
            </a>
        </div>
        <div class="three wide aligned center column">
            <a href="#">
                <img class="ui image" src="/images/icons/ordersNormal.png" alt="Orders">
                <h3 class="title">Orders</h3>
            </a>
        </div>
        <div class="three wide aligned center column">
            <a href="#">
                <img class="ui image" src="/images/icons/discoveriesNormal.png" alt="Discoveries">
                <h3 class="title">Discoveries</h3>
            </a>
        </div>
        <div class="three wide aligned center column">
            <a href="#">
                <img class="ui image" src="/images/icons/digestsNormal.png" alt="Digests">
                <h3 class="title">Digests</h3>
            </a>
        </div>
        <div class="three wide aligned center column">
            <a href="#">
                <img class="ui image" src="/images/icons/reportsNormal.png" alt="Reports">
                <h3 class="title">Reports</h3>
            </a>
        </div>
        <div class="three wide aligned center column">
            <a href="#">
                <img class="ui image" src="/images/icons/deliveryNormal.png" alt="Delivery">
                <h3 class="title">Delivery</h3>
            </a>
        </div>
        <div class="three wide aligned center column">
            <img class="ui image" src="/images/icons/usageNormal.png" alt="Usage">
            <h3 class="title">Usage</h3>
            </a>
        </div>
        <div class="three wide aligned center column">
            <a href="#">
                <img class="ui image" src="/images/icons/dashboardsNormal.png" alt="Dashboards">
                <h3 class="title">Dashboards</h3>
            </a>
        </div>
        <div class="three wide aligned center column">
            <a href="#">
                <img class="ui image" src="/images/icons/knowledge-baseNormal.png" alt="Knowledge Base">
                <h3 class="title">Knowledge Base</h3>
            </a>
        </div>
        <div class="three wide aligned center column">
            <a href="#">
                <img class="ui image" src="/images/icons/advertisersNormal.png" alt="Advertisers">
                <h3 class="title">Advertisers</h3>
            </a>
        </div>
    </div>
</div>