<div class="ui stackable two column grid">
    <div class="column">
        <p>Normal</p>
        <div class="ui fluid input">
            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div class="column">
        <p>Focus</p>
        <div class="ui fluid input focus">
            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div class="column">
        <p>Disabled</p>
        <div class="ui fluid disabled input">
            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div class="column">
        <p>Error</p>
        <div class="ui fluid input error">
            <input type="text" placeholder="Search...">
        </div>
    </div>
    <div class="column">
        <div class="ui form">
            <p>With Label</p>
            <div class="field">
                <label>Site Url</label>
                <div class="ui fluid input with-label">
                    <input type="text" placeholder="Site.com">
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <p>With Icon</p>
        <div class="ui fluid right icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="column">
        <p>Labeled</p>
        <div class="ui fluid labeled right input">
            <div class="ui basic label">
                http://
            </div>
            <input type="text" placeholder="Enter Site">
        </div>

        <div class="ui hidden fitted divider"></div>
        <div class="ui fluid right labeled input">
            <input type="text" placeholder="Enter Weight">
            <div class="ui basic label">
                kg
            </div>
        </div>

        <div class="ui hidden fitted divider"></div>
        <div class="ui fluid right action input">
            <input type="text" placeholder="Sweden">
            <div class="ui floating dropdown button">
                <div class="text">.com</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">.net</div>
                    <div class="item">.org</div>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <p>Action</p>
        <div class="ui fluid right action left icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search">
            <div class="ui basic floating dropdown button">
                <div class="text">Entire Site</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">This Organization</div>
                    <div class="item">Entire Site</div>
                </div>
            </div>
        </div>

        <div class="ui hidden fitted divider"></div>
        <div class="ui fluid action input">
            <input type="text" placeholder="Search...">
            <button class="ui icon button">
                <i class="search icon"></i>
            </button>
        </div>
    </div>
    <div class="column">
        <p>Size</p>
        <div class="ui fluid mini icon input">
            <input type="text" placeholder="Search mini...">
            <i class="search icon"></i>
        </div>
        
        <div class="ui hidden fitted divider"></div>
        <div class="ui fluid small icon input">
            <input type="text" placeholder="Search mini...">
            <i class="search icon"></i>
        </div>
        
        <div class="ui hidden fitted divider"></div>
        <div class="ui fluid large icon input">
            <input type="text" placeholder="Search mini...">
            <i class="search icon"></i>
        </div>
        
        <div class="ui hidden fitted divider"></div>
        <div class="ui fluid big icon input">
            <input type="text" placeholder="Search mini...">
            <i class="search icon"></i>
        </div>
        
        <div class="ui hidden fitted divider"></div>
        <div class="ui fluid huge icon input">
            <input type="text" placeholder="Search mini...">
            <i class="search icon"></i>
        </div>
        
        <div class="ui hidden fitted divider"></div>
        <div class="ui fluid massive icon input">
            <input type="text" placeholder="Search mini...">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="column">
        <p>Transparent</p>
        <div class="ui fluid transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>

        <div class="ui hidden fitted divider"></div>
        <div class="ui fluid transparent left icon input">
            <input type="text" placeholder="Search...">
            <i class="search icon"></i>
        </div>
    </div>
</div>