<div class="ui basic menu">
  <div class="page-title">
    <div class="icon">
      <img class="ui image" src="/images/icons/message.png">
    </div>
    <div class="item-name">
      <span class="title">Reports</span>
      <div class="ui mini breadcrumb">
        <a class="section">My Report</a>
        <i class="right chevron icon divider"></i>
        <a class="active section">Edit</a>
      </div>
    </div>
  </div>
  <div class="right menu">
    <i class="bell icon"></i>
    <img class="ui avatar image" src="/images/wireframe/square-image.png">
  </div>
</div>

<script type="text/javascript">
  $(document)
    .ready(function () {
      $('.demo .example .menu a.item')
        .on('click', function () {
          if (!$(this).hasClass('dropdown')) {
            $(this)
              .addClass('active')
              .closest('.ui.menu')
              .find('.item')
              .not($(this))
              .removeClass('active');
          }
        });
    });
</script>