<div class="menu">
  <p>Full Menu</p>
  <div class="ui basic menu">
    <div class="page-title">
      <div class="icon">
        <img class="ui image" src="/images/icons/message.png">
      </div>
      <div class="item-name">
        <span class="title">Reports</span>
        <div class="ui mini breadcrumb">
          <a class="section">My Report</a>
          <i class="right chevron icon divider"></i>
          <a class="active section">Edit</a>
        </div>
      </div>
    </div>
    <div class="right menu">
      <i class="bell icon"></i>
      <img class="ui avatar image" src="/images/wireframe/square-image.png">
    </div>
  </div>

  <p>Without Breadcrumb</p>
  <div class="ui basic menu">
    <div class="page-title">
      <div class="icon">
        <img class="ui image" src="/images/icons/message.png">
      </div>
      <div class="item-name">
        <span class="title">Reports</span>
      </div>
    </div>
    <div class="right menu">
      <i class="bell icon"></i>
      <img class="ui avatar image" src="/images/wireframe/square-image.png">
    </div>
  </div>

  <p>Extra</p>
  <div class="ui basic mini menu">
    <div class="ui toggle checkbox">
      <span>Share with Advertiser</span>
      <input type="checkbox">
      <label></label>
    </div>
    <div class="right menu">
      <div class="ui basic mini buttons">
        <div class="ui button">Your View</div>
        <div class="ui button">Advertiser View</div>
      </div>
      <div class="ui basic mini button">Sharing</div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document)
    .ready(function () {
      $('.demo .example .menu a.item')
        .on('click', function () {
          if (!$(this).hasClass('dropdown')) {
            $(this)
              .addClass('active')
              .closest('.ui.menu')
              .find('.item')
              .not($(this))
              .removeClass('active');
          }
        });
    });
  $(document)
    .ready(function () {
      $('.ui.checkbox')
        .checkbox();
    });
</script>