<div class="sidebar direction demo">

  <div class="ui bottom attached segment pushable">
    <div class="ui visible inverted left vertical sidebar menu">
      <a class="item with-icon">
        <div class="icon">
          <img class="ui image" src="/images/icons/delivery.png">
        </div>
        <div class="item-name">
          <span class="title">Delivery</span>
          <span class="subtitle">Where are your customers?</span>
        </div>
      </a>
      <a class="item with-icon active">
        <div class="icon">
          <img class="ui image" src="/images/icons/message.png">
        </div>
        <div class="item-name">
          <span class="title">Digests</span>
          <span class="subtitle">Where are your customers?</span>
        </div>
      </a>
      <a class="item with-icon">
        <div class="icon">
          <img class="ui image" src="/images/icons/advertise.png">
        </div>
        <div class="item-name">
          <span class="title">Advertisers</span>
          <span class="subtitle">Where are your customers?</span>
        </div>
      </a>
      <a class="item with-icon">
        <div class="icon">
          <img class="ui image" src="/images/icons/search.png">
        </div>
        <div class="item-name">
          <span class="title">Discoveries</span>
          <span class="subtitle">Where are your customers?</span>
        </div>
      </a>
      <a class="item with-icon">
        <div class="icon">
          <img class="ui image" src="/images/icons/report.png">
        </div>
        <div class="item-name">
          <span class="title">Reports</span>
          <span class="subtitle">Where are your customers?</span>
        </div>
      </a>
      <a class="item with-icon">
        <div class="icon">
          <img class="ui image" src="/images/icons/dashboard.png">
        </div>
        <div class="item-name">
          <span class="title">Dashboards</span>
          <span class="subtitle">Where are your customers?</span>
        </div>
      </a>
    </div>
    <div class="pusher">
      <div class="ui basic segment">
        <h3 class="ui header">Application Content</h3>
        <img class="ui wireframe image" src="/images/wireframe/short-paragraph.png">
        <img class="ui wireframe image" src="/images/wireframe/short-paragraph.png">
        <img class="ui wireframe image" src="/images/wireframe/short-paragraph.png">
        <img class="ui wireframe image" src="/images/wireframe/short-paragraph.png">
      </div>
    </div>
  </div>

</div>



<script type="text/javascript">
  // showing multiple
  $('.visible.example .ui.sidebar')
    .sidebar({
      context: '.visible.example .bottom.segment'
    })
    .sidebar('hide');
</script>