<table class="ui basic table">
  <thead>
    <tr>
      <th><h3>Table Header</h3></th>
      <th class="right aligned">Clicks</th>
      <th class="right aligned">Impressions</th>
      <th class="right aligned">Served Impressions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Approved</td>
      <td>None</td>
    </tr>
    <tr>
      <td>Jamie</td>
      <td>Approved</td>
      <td>Requires call</td>
    </tr>
    <tr>
      <td>Jill</td>
      <td>Denied</td>
      <td>None</td>
    </tr>
  </tbody>
</table>